/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff; }

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
  height: 100%;
  background: url("../images/questionmarks.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-color: #FF1493; }

.cover-container {
  max-width: 42em; }

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem; }

.masthead-brand {
  margin-bottom: 0; }

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25); }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; }

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff; }

@media (min-width: 48em) {
  .masthead-brand {
    float: left; }
  .nav-masthead {
    float: right; } }

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem; }

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700; }

/*
 * Footer
 */
.mastfoot {
  color: #696969; }

img {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }

.btn-secondary {
  color: #fff;
  background-color: #FF1493;
  border-color: #FF1493; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
  color: #fff;
  background-color: #DB7093 !important;
  border-color: #DB7093 !important; }

.box {
  background-color: rgba(255, 20, 146, 0.37);
  padding: 30px; }
